@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.navigation {
    padding-top: 66px;
    margin-bottom: 60px;
}

.navigation__list {
    width: 1860px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 8px 57px;
}

.navigation__item {
    width: 186px;
    text-align: center;
    padding: 8px 24px;
}

.navigation__item:hover {
    font-weight: bold;
    color: #527AAA;
    background: #E0E0E0;
    border-radius: 2px;
}

.navigation__itemActive {
    width: 186px;
    font-weight: bold;
    color: #527AAA;
    background: #CFE5FF;
    border-radius: 2px;
    overflow-x: visible;
    padding: 8px 24px;
    text-align: center;
}

.navigation__item__link {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #666666;
}